*{
    margin: 0;
    padding: 0;

}

/* header section css */
header{
    background-image: url(/images/banner/banner1.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
    
}
header .headerContent{
    height: 90vh;
    width: 300px;
    position: relative;
    top: 130px;
    left: 850px;
    text-align: right;
}
header .headerContent h1{
    text-transform: capitalize;
    font-weight: bold;
    text-align: right;
   font-family: sans-serif;
   padding: 20px;

}
header .headerContent p{
    font-family: sans-serif;
    padding: 10px;
    line-height: 25px;
    margin-bottom: 10px;
}
header .headerContent button{
    background-color: orangered;
    height: 64px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    border: none;
    
}
/* About section css */
section{
    height: 80vh;
    width: 80%;
    /* border: 2px solid red; */
    margin: auto;

    
}
.aboutBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutContent{
   
    width:40%;
}
.aboutContent h1{
    padding: 20px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: sans-serif;

}
.aboutContent p{
    padding: 20px;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(103, 80, 80);

}
.aboutContent ul li{
    padding: 10px;
    color: rgb(103, 80, 80);
}

/* my skill css section */
.skill{
    height: 60vh;
    width: 80%;

    margin: auto;
}

.skill .skillHeader{
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 20px;
}
.language{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.language .skillContent{
    
   text-align: center;
   padding: 20px;

}
.language .skillContent h2{
    padding: 10px;
    text-transform: capitalize;
    color: coral;
    font-weight: 700;
    font-size: 29px;
}
.language .skillContent p{
    color: gray;
}


/* mindset section */



.inquiry{
    height: 40vh;
    width: 80%;
    
    margin: auto;
    background: linear-gradient(90deg,#ef8843 0%,rgba(241,91,34,0)50%),url(/images/watch.png);
    border-radius: 12px;
    border: none;
   
}
.inquiry .mindset{
    padding: 60px;
    width: 350px;
    color: white;
    
}
.inquiry .mindset h1{
    font-size: 30px;
    padding: 10px;
    text-transform: capitalize;
}
.inquiry .mindset button{
    height: 56px;
    width: 130px;
    font-size: 19px;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
}




/* footer section css */

footer{
   
    height: 60vh;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center; 
    margin-top: 70px; 

}
.footerContent{
    display: flex;
    justify-content: space-around;
    height: 40vh;
    width: 80%;
    margin: auto;
    padding: 70px 0;
    /* align-items: center; */
    
}
.footerContent .linkContent{
  
    width: 600px;
    
   
}
.footerContent .linkContent h1{
    padding: 10px;
    font-family: sans-serif;
}
.footerContent .linkContent small{
    font-family: sans-serif;
    padding: 10px;
    letter-spacing: 1px;

   
}
.footerContent .linkContent .email{
    
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 12px
    
}
.footerContent .linkContent .number{
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px
}
.footerContent .link{
    margin: 10px;
}
.footerContent .link img{
    margin: 10px;
    padding: 10px;
    

}
.footerForm{
    display: flex;
    flex-direction: column;
   
}
.footerForm h2{
    padding: 20px 0;
    font-family: sans-serif;

}
.footerForm input{
    padding: 20px;
    
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 30px;
    width: 220px;
}
.footerForm button{
    height: 64px;
    width: 160px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: sans-serif;
    color: #ef8843;

}
::placeholder{
    font-size: 18px;
}
.footerForm input:hover{
    background-color: #ef8843;
    color: rebeccapurple;
}


